<style>


                
    #wrapper{ 
      
        
        text-align: center;
        border: black 1px  solid;
        
    }
    body
    {
            background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
            font-family: Arial, Helvetica, sans-serif;
    }      
    #Header{
        height: 100px;
        padding-top: 15px;
        background-color:rgb(5, 9, 75);
        color:yellow;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 25px;
    }    

    #Navigation{
        
        
        padding-left:20px;
        padding-right:20px;
        background-color: rgb(144, 194, 241);
     } 



     
    #sidebar{
        font-family: "Times New Roman", Times, serif;
        background-color:rgb(217, 228, 235);

     }
    

     

    
     #footer{
        background-color:rgb(90, 90, 90);
        padding-top: 5px;
        color: whitesmoke;

     }
    
    
     .w3-bar-item{
         padding-top: 5px;


     }

    #HeroImage{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("realestateHero.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-bottom: 20px;
        
    }


     .hero-text {
        text-align: center;
       padding-top: 175px;
                          
        color: white;
        }


     .hero-text button {
    border: none;
     outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: rgb(221, 221, 221);
    text-align: center;
    cursor: pointer;
    }
     .hero-text button:hover {
    background-color: rgb(66, 128, 223);
         color: whitesmoke;
    }


    #mainbody{
    font-family: "Times New Roman", Times, serif;
          color: rgb(133, 80, 80);
          background-color: rgb(164, 172, 197);

  }    

    #Form{
        padding-top: 25px;
        text-align: center;
    }
</style>